In [2]:
import pandas as pd

In [8]:
df=pd.read_csv("dog_behavior_dataset.csv")
df.head()

,dog_id,timestamp,neck_x,neck_y,neck_z,back_x,back_y,back_z,head_posture,body_posture,atomic_behavior,complex_behavior
0,Dog_01,2025-04-25 11:56:29.894279,0.786,0.859,-0.751,0.486,0.422,0.031,HeadDown,Lie,Lying,Abnormal|Abnormal|Abnormal
1,Dog_01,2025-04-25 11:56:29.914279,-0.138,0.596,-0.232,0.742,0.828,-0.991,HeadUp,Walk,Walking,Abnormal|Abnormal|Abnormal
2,Dog_01,2025-04-25 11:56:29.934279,-0.323,-0.709,-0.141,-0.180,-0.404,0.387,HeadUp,Walk,Walking,Abnormal|Abnormal|Abnormal
3,Dog_01,2025-04-25 11:56:29.954279,0.477,-0.369,-0.499,0.362,0.969,-0.704,Bark,Stand,Standing,Abnormal|Abnormal|Abnormal
4,Dog_01,2025-04-25 11:56:29.974279,0.482,-0.299,-0.500,-0.000,0.675,-0.638,Bark,Dig,Digging,Abnormal|Abnormal|Abnormal

In [9]:
# welcome to data analyst

In [10]:
'''welcome back. 
this is shreya.'''

'welcome back. \nthis is shreya.'

# Data Analyst