# write the python script to print 1 to 10

In [1]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

# write python script to print range (1,23,3)

In [4]:
for i in range(1,23,3):
    print(i,end=' ')

1 4 7 10 13 16 19 22

# print first 10 multiples of 5

In [2]:
for i in range(1,11):
    print(5*i,end=' ')

5 10 15 20 25 30 35 40 45 50

# first 10 multiples of n

In [4]:
n = int(input())
for i in range(1, 11): 
    print(n*i,end=' ')

 2

2 4 6 8 10 12 14 16 18 20

# first m multiples of n

In [8]:
n, m = map(int, input().split())
for i in range(1, m+1): 
    print(n*i,end=' ')

 7 8

7 14 21 28 35 42 49 56

# first 10 multiples of n in reverse order

In [9]:
n = int(input())
for i in range(10,0,-1): 
    print(n*i,end=' ')

 4

40 36 32 28 24 20 16 12 8 4

# print table of users choice

In [1]:
n = int(input("Enter number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n*i)

Enter number:  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60